/*------------------------------------------------------------------------------
 * bm-design.css
 *
 * Author: ofk
 * Version: 2011-10-20
 *----------------------------------------------------------------------------*/
body {
  padding: 0 2.5em;
  background-color: #fff;
  color: #333; }

:link {
  color: #12c;
  -webkit-tap-highlight-color: #c43; }

:visited {
  color: #61c; }

:link:active, :visited:active {
  color: #c43; }

abbr[title], acronym[title], dfn[title] {
  border-color: #999; }

ins {
  border-color: #999; }

del {
  color: #666; }

iframe {
  background-color: #fff; }

table[border], table[border] td, table[border] th {
  border-color: #ccc; }

* html table, * html table td, * html table th {
  border-color: #ccc; }

input, button, select, textarea {
  color: #333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="text"], input[type="password"], textarea, select {
  padding: .4em;
  border: 1px solid #ccc;
  background-color: #fff; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="submit"]:focus, input[type="button"]:focus, button:focus {
  border-color: #48f;
  outline: 0 none; }

input[type="submit"], input[type="button"], button {
  padding: .4em .6em;
  border: 1px solid #ddd;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background-color: #f3f3f3;
  color: #666; }
  input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    border-color: #bbb;
    background-color: #f5f5f5;
    color: #333;
    cursor: hand;
    cursor: pointer; }
  input[type="submit"]:active, input[type="button"]:active, button:active {
    -moz-box-shadow: inset 0 0 0.3em 0.15em rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0.3em 0.15em rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0.3em 0.15em rgba(0, 0, 0, 0.1); }
  input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled {
    color: #999; }
    input[type="submit"]:disabled:hover, input[type="button"]:disabled:hover, button:disabled:hover {
      border-color: #ddd;
      background-color: #f3f3f3;
      color: #999;
      cursor: auto; }
