//------------------------------------------------------------------------------
// bm-common-reset.scss
// Author: ofk
// Version: 2011-10-20
//------------------------------------------------------------------------------

@import 'bm-common-std';


//------------------------------------------------------------------------------

// 全要素に対して適用して良いリセット
@mixin bm-reset-all {
	@include bm-reset-margin;
	@include bm-reset-font;
	@include bm-reset-quotes;
	@include bm-reset-vertical-align;
}

// インタラクティブ要素以外に適用して良いリセット
@mixin bm-reset-without-interactive {
	@include bm-reset-padding;
	@include bm-reset-background-image;
	// IEでtableに効いている様子が無い……。
	border-color: inherit;
}

// インタラクティブ要素とテーブル要素以外に適用して良いリセット
@mixin bm-reset-without-interactive-and-table {
	@include bm-reset-border;
}


//------------------------------------------------------------------------------

@mixin bm-reset-margin {
	// marginが0である要素は、IEではautoである。
	// 0を指定した方が、使い勝手が良いため。
	margin: 0;
}

@mixin bm-reset-padding {
	// 古いOperaでmarginの代わりにpaddingを設定している場合がある。
	// 指定するとフォームが読みにくくなる。
	padding: 0;
}

@mixin bm-reset-border {
	// borderが0 noneである要素は、IEではmedium noneである。
	// 指定するとフォームのデザインが破壊される。
	border: 0 none;
}

@mixin bm-reset-font {
	// fontの継承をリセットする。
	font: inherit;
	// IEでtableはfont-sizeが継承されない。
	font-size: 100%;
}

@mixin bm-reset-quotes {
	// Firefoxでは"“" "”" "‘" "’"である。IE8ではautoである。
	quotes: none;
}

@mixin bm-reset-vertical-align {
	// vertical-alignがbaselineである要素は、IEではautoである。
	vertical-align: baseline;
}

@mixin bm-reset-background-image {
	// 一応、リセット。
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}


//------------------------------------------------------------------------------
