//------------------------------------------------------------------------------
// bm-config.scss
// Author: ofk
// Version: 2011-11-10
//------------------------------------------------------------------------------

// base font size
$base-font-size-px:  13    !default;
$base-line-height:   1.5   !default;

// support general
$support-for-html5:  false !default;
$support-for-legacy: true  !default;

// support vendor feature
$support-for-moz:    true  !default;
$support-for-webkit: true  !default;
$support-for-o:      true  !default;
$support-for-ms:     true  !default;


//------------------------------------------------------------------------------
