/*------------------------------------------------------------------------------
 * bm-design.css
 *
 * Author: ofk
 * Version: 2011-10-20
 *----------------------------------------------------------------------------*/

@import 'bm-common';


//------------------------------------------------------------------------------
//= Sections
//------------------------------------------------------------------------------

body {
	padding: 0 2.5em;
	background-color: #fff;
	color: #333;
}


//------------------------------------------------------------------------------
//= Grouping content
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//= Text-level semantics
//------------------------------------------------------------------------------

:link {
	color: #12c;
	-webkit-tap-highlight-color: #c43;
}

:visited {
	color:#61c;
}

:link, :visited { &:hover, &:active {
	color:#c43;
} }

abbr, dfn { &[title] {
	border-color:#999;
} }

@if $support-for-html5 {
	mark {
		background-color: #ff9;
		color: #000;
	}
}


//------------------------------------------------------------------------------
//= Edits
//------------------------------------------------------------------------------

ins {
	border-color: #999;
}

del {
	color:#666;
}


//------------------------------------------------------------------------------
//= Embedded content
//------------------------------------------------------------------------------

//img {}

iframe { background-color: #fff; }


//------------------------------------------------------------------------------
//= Tabular data
//------------------------------------------------------------------------------

@mixin bm-design-table {
	&, td, th {
		border-color: #ccc;
	}
}

table[border] {
	@include bm-design-table;
}

* html table {
	@include bm-design-table;
}


//------------------------------------------------------------------------------
//= Forms
//------------------------------------------------------------------------------

input, button, select, textarea {
	color: #333;
}

#{$inputs}, select {
	padding: .25em .4em;
	border: 1px solid #ccc;
	background-color: #fff;
}

#{$inputs}, select, #{$buttons} {
	&:focus {
		border-color: #48f;
		outline: 0 none;
	}
}

#{$buttons} {
	padding: .25em .6em;
	border: 1px solid #ddd;
	@include border-radius(.25em);
	@include top-linear-gradient(#ffffff, #e1e1e1, '#ffffff');
	color: #666;
	// Firefoxでinput[type=text]との高さを合わせる。
	&::-moz-focus-inner {
		padding: 0;
	}
	&:hover {
		border-color: #bbb;
		@include top-linear-gradient(#ffffff, #ebebeb, '#ffffff');
		color: #333;
		cursor: hand;
		cursor: pointer;
		@include box-shadow(0 .15em .3em 0 rgba(0, 0, 0, .1));
	}
	&:active {
		@include box-shadow(inset 0 0 .3em .15em rgba(0, 0, 0, .1));
		background-color: red\9;
		@include ms-filter('progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#ebebeb", EndColorStr="#ebebeb")');
	}
	&:disabled { &, &:hover {
		border-color: #ddd;
		@include top-linear-gradient(#ebebeb, #e1e1e1);
		color: #999;
		cursor: auto;
		@include box-shadow(none);
	} }
}


//------------------------------------------------------------------------------
//= Interactive elements
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//= Extend elements
//------------------------------------------------------------------------------

i { @extend em; }
b { @extend strong; }
@if $support-for-legacy {
	acronym { @extend abbr; }
}


//------------------------------------------------------------------------------
