/*------------------------------------------------------------------------------
 * bm-design.css
 *
 * Author: ofk
 * Version: 2011-11-10
 *----------------------------------------------------------------------------*/

@import 'bm-common';


//------------------------------------------------------------------------------
//= Colors
//------------------------------------------------------------------------------

$base-color:   #333 !default;
$base-bgcolor: #fff !default;

$base-link-color:    #12c !default;
$base-visited-color: #61c !default;
$base-active-color:  #c43 !default;

$base-mark-bgcolor:  #ff9 !default;


//------------------------------------------------------------------------------
//= Sections
//------------------------------------------------------------------------------

body {
	padding: 0 2.5em;
	background-color: $base-bgcolor;
	color: $base-color;
}


//------------------------------------------------------------------------------
//= Grouping content
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//= Text-level semantics
//------------------------------------------------------------------------------

:link {
	color: $base-link-color;
	-webkit-tap-highlight-color: $base-active-color;
}

:visited {
	color:$base-visited-color;
}

:link, :visited { &:hover, &:active {
	color:$base-active-color;
} }

abbr, dfn { &[title] {
	border-color:lighten($base-color, 40%);
} }

@if $support-for-html5 {
	mark {
		background-color: $base-mark-bgcolor;
		color: darken($base-color, 20%);
	}
}


//------------------------------------------------------------------------------
//= Edits
//------------------------------------------------------------------------------

ins {
	border-color: lighten($base-color, 40%);
}

del {
	color: lighten($base-color, 20%);
}


//------------------------------------------------------------------------------
//= Embedded content
//------------------------------------------------------------------------------

//img {}

iframe { background-color: $base-bgcolor; }


//------------------------------------------------------------------------------
//= Tabular data
//------------------------------------------------------------------------------

@mixin -bm-design-table {
	&, td, th {
		border-color: lighten($base-color, 60%);
	}
}

table[border] {
	@include -bm-design-table;
}

* html table {
	@include -bm-design-table;
}


//------------------------------------------------------------------------------
//= Forms
//------------------------------------------------------------------------------

@mixin bm-button($color, $border-color: false) {
	@if $border-color == false {
		$border-color: lighten($color, 60%);
	}
	padding: .25em .6em;
	border: 1px solid $border-color;
	@include border-radius(.25em);
	@include top-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .12), '#00000000', '#1e000000');
	color: lighten($color, 20%);
	// IE7でのずれを修正
	*padding: .05em .6em;
	*width: auto;
	*overflow: visible;
	&:hover {
		border-color: darken($border-color, 6.6%);
		@include top-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .08), '#00000000', '#14000000');
		color: $color;
		@include box-shadow(0 .15em .3em 0 rgba(0, 0, 0, .1));
	}
	&:active {
		@include box-shadow(inset 0 0 .3em .15em rgba(0, 0, 0, .1));
		@include ms-filter('progid:DXImageTransform.Microsoft.Gradient(StartColorStr="#14000000",EndColorStr="#14000000")');
	}
	&:disabled { &, &:hover {
		border-color: $border-color;
		@include top-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .12), '#00000000', '#1e000000');
		color: lighten($color, 46.8%);
		cursor: auto;
		@include box-shadow(none);
	} }
}

input, button, select, textarea {
	color: $base-color;
}

#{$inputs}, select {
	padding: .25em .4em;
	border: 1px solid lighten($base-color, 60%);
	background-color: #fff;
}

#{$inputs}, select, #{$buttons} {
	&:focus {
		border-color: #48f;
		outline: 0 none;
	}
}

#{$buttons} {
	@include bm-button($base-color);
	background-color: #fff;
}

$select-multiple: bm-selectors('select[multiple]' 'select[size]:not([size="1"])');
$select-single: bm-selectors('select:not([multiple]):not([size])' 'select[size="1"]');

select {
	padding: .15em; // for IE
}

// Firefox
#{$select-single}, x:-moz-any-link {
	padding: 0;
	height: #{($base-line-height + 0.35) + 'em'};
}

// WebKit
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#{$select-single} {
		padding: 0;
		height: #{($base-line-height + 0.25) + 'em'};
	}
}








/*

// IE
select {
	padding: .15em .4em\9; // IE8でのずれを修正
}

// Opera
#{$select-multiple} {
	padding-left: 0;
}

// Firefox
#{$select-multiple}, x:-moz-any-link {
	padding-left: .4em;
}

// WebKit
#{$select-multiple} {
	padding-left: .4em;
}


//------------------------------------------------------------------------------
//= Interactive elements
//------------------------------------------------------------------------------


//------------------------------------------------------------------------------
//= Extend elements
//------------------------------------------------------------------------------

i { @extend em; }
b { @extend strong; }
@if $support-for-legacy {
	acronym { @extend abbr; }
}


//------------------------------------------------------------------------------
//*/